#assignmentDialogContent {
	top:-500px; /*Initial off page to avoid IE showing List boxes before rendered */
}

#taskPanels {
/*	height:expression(if (this.parent.clientHeight==undefined||this.parent.clientHeight<500){"500px"}else{"auto"});*/
	/* Used intead of min-height. */
	/* Should be overriden buy specific panels as required. */
	height:500px; 
}

#mainNavigation {
    width: 451px;
}
